$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cat.jpg');
  background-size: cover;
  background-position: center;
  width: inherit;
  height: 800px;
}

.jumbotron h1 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  color: #c49507;
  font-style: italic;
}

.comment-meta-details {
  margin-top: 5px;
  color: #c49507;
  font-style: italic;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.col-xs-offset-right-1 {
  margin-right: 10%;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #6120a3;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.badge a {
  color: #fcfcfc;
}

.input_checkbox input {
  width: auto !important;
}

.category {
  margin-bottom: 10px;
}

.comment {
  border-bottom: 1px solid #eaeaea;
}

.comment-button {
  letter-spacing: 0px;
  font-size: .6em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
